# Server
PORT=3001
NODE_ENV=development

# JWT Authentication (Lab 2)
JWT_SECRET=ma-cle-secrete-simple-123
REFRESH_SECRET=refresh-secret-key
JWT_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d

# Local storage (fallback)
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=10485760

# AWS S3 (Lab 3) - À configurer si vous utilisez S3
# AWS_ACCESS_KEY_ID=votre_cle_ici
# AWS_SECRET_ACCESS_KEY=votre_secret_ici
# AWS_REGION=eu-west-3
# S3_BUCKET_NAME=smart-scan-storage